<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-2.5.xsd
	    http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
        
	<!-- 项目实体 -->
	<bean id="pro_child" class="monitor.projectConfig.bean.entity.Project_Child" scope="prototype"/>
	
	<!-- 项目基本配置功能 -->
	<bean id="projectChildAction" class="monitor.projectConfig.action.ProjectChildAction" scope="prototype"/>
	<bean id="projectChildService" class="monitor.projectConfig.service.impl.ProjectChildServiceImpl" scope="prototype">
		<property name="datasource" ref="c3p0Datasource"></property>
	</bean>
	<bean id="projectChildDao" class="monitor.projectConfig.dao.impl.ProjectChildDaoImpl" scope="prototype"/>
</beans>
