<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-2.5.xsd">  
	<!--抗震支架数据访问服务-->
	<!--开启注解扫描  -->
	<context:component-scan base-package="monitor.kzzj"></context:component-scan>

	<bean id="kzzjAction" class="monitor.kzzj.action.KzzjAction" scope="prototype"/>		
 	<bean id="kzzjService" class="monitor.kzzj.service.impl.KzzjServiceImpl" scope="prototype"/>
	 
	<bean id="kzzjDao" class="monitor.kzzj.dao.impl.KzzjDaoImpl" scope="prototype">
		<property name="datasource" ref="c3p0Datasource"></property>
	</bean>
</beans>
